.timeline {
  position: relative;
  margin-left: 30px;
  padding-left: 20px;
  border-left: 2px solid #0d6efd;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

.timeline-dot {
  position: absolute;
  left: -1.8rem; /* centro el punto sobre la línea */
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0d6efd;
  border: 2px solid #fff;
  z-index: 2;
}

.timeline-content {
  padding-left: 10px;
}
