<section id="sobre-mi" class="container text-center pt-5">
  <div class="title">
    <h2>{{'Sobre Mí' | translate}}</h2>
  </div>
  <hr class="divider w-25 mx-auto my-4" />
  <div class="description">
    <p>
      {{'Tisera Nahuel de 21 años en CABA, Argentina. Estudiante de Análisis de
      Sistemas con experiencia en desarrollo desoftware. Me especializo en
      arquitecturas backend robustas usando' | translate}}
      <strong>Java</strong>, <strong>Spring Boot</strong>,
      <strong>Hibernate/JPA</strong>{{' como ' | translate}}ORM,
      <strong>MySQL</strong> {{'como motor de base de datos y' | translate}}
      <strong>Docker - Azure</strong>
      {{'para su despliegue. Trabajo de manera eficiente y ágil, siguiendo
      metodologías ágiles como' | translate}}
      <strong>Scrum</strong>, {{'principalmente bajo el paradigma de' |
      translate}} <strong>POO</strong>, {{' respetando los principios' |
      translate}} <strong>SOLID</strong> {{'y buenas prácticas de' | translate}}
      <strong>{{'seguridad' | translate}}</strong>, {{'con el objetivo de
      brindar sistemas' | translate}}
      <span class="bg-warning ps-1 pe-1">{{'escalables' | translate}}</span>
      {{'y' | translate}}
      <span class="bg-warning ps-1 pe-1">{{'mantenibles' | translate}}</span>.
    </p>
    <p>
      {{'También tengo conocimientos en' | translate}} <strong>Angular</strong>,
      {{'aprovechando su arquitectura modular' | translate}},
      <strong>{{'formularios reactivos' | translate}}</strong>, {{'uso de' |
      translate}} <strong>pipes</strong>
      {{'y componentes reutilizables, integrando interfaces limpias con' |
      translate}}
      <strong>Bootstrap</strong>.
    </p>
    <p>
      {{'Participo activamente en el relevamiento y documentación de sistemas,
      aplicando análisis funcional y diagramas UML' | translate}}.
    </p>
    <p>
      {{'Podés ver más sobre mi formación y experiencia en mi' | translate}}
      <a href="../../../../assets/images/cv-tisera.pdf" target="_blank">CV</a>.
    </p>
    <a href="https://x.com/hashtag/drinkingMate?src=hashtag_click"
      ><strong>#Drinkingmate24/7</strong></a
    >
  </div>

  <div id="habilidades-tecnicas" class="text-start pt-4">
    <h5>{{'Habilidades Técnicas' | translate}}</h5>
  </div>
  <div
    class="card-container pt-2 pb-5 row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4"
  >
    @for (info of infos; track $index) {
    <div class="col">
      <button
        type="button"
        class="btn btn-outline-primary col-12 h-100"
        data-bs-toggle="modal"
        data-bs-target="#techModal"
        (click)="selectedInfo = info"
      >
        {{ info.title | translate}} <br />
        {{info.description | translate}}
      </button>
    </div>
    }
  </div>
  <!-- formacion academica -->
  <div id="formacion-academica" class="">
    <h5 class="text-start pb-2">{{'Formación Académica' | translate}}</h5>
  </div>
  <div class="timeline text-start">
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <strong
          >{{'Tecnicatura Superior en Análisis de Sistemas' |
          translate}}</strong
        ><br />
        <small>IFTS N°21 – {{'En curso' | translate}}</small>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <strong
          >Curso de Aplicaciones Web en Angular 19 y ASP.NET Core 9 </strong
        ><br />
        <small
          >Udemy – 2025 –
          <a
            href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-8936a4a3-4e9d-4697-8e2c-1f9db51db255.pdf"
            target="_blank"
            >{{'Certificado' | translate}}</a
          ></small
        >
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <strong
          >Programa Oracle Next Education F2 T7 Back-End</strong
        ><br />
        <small
          >Alura Latam – 2024 - 2025 –
          <a
            href="https://app.aluracursos.com/program/certificate/2294f09c-d48c-4b04-8df8-f909f420501a?lang"
            target="_blank"
            >{{'Certificado' | translate}}</a
          ></small
        >
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <strong
          >Desarrollo de APIs en Java con Spring Boot</strong
        ><br />
        <small
          >TodoCode – 2024 –
          <a
            href="https://todocodeacademy.com/certificate/spring-boot-7qb/"
            target="_blank"
            >{{'Certificado' | translate}}</a
          ></small
        >
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="techModal"
  tabindex="-1"
  aria-labelledby="techModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="techModalLabel">
          {{ (selectedInfo?.title || '') | translate }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        @if (selectedInfo) {
        <div class="">
          @for (skills of selectedInfo.skills; track $index) {
          <span class="badge bg-light text-dark me-2 mb-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-tag"
              viewBox="0 0 16 16"
            >
              <path
                d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0"
              />
              <path
                d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1m0 5.586 7 7L13.586 9l-7-7H2z"
              />
            </svg>
            {{skills.name}}
          </span>

          }
        </div>
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
