<!-- sidebar -->
<div
  class="notion-sidebar d-flex flex-column"
  (mouseenter)="isSidebarHovered = true"
  (mouseleave)="isSidebarHovered = false"
>
  <ul class="nav flex-column">
    @for (item of menuItems; track item) {
    <li
      class="nav-item"
      (click)="activeItem = item"
      [class.active]="activeItem === item"
    >
      <div
        class="sidebar-line"
        [class.expanded]="isSidebarHovered || activeItem === item"
      ></div>

      @if (isSidebarHovered) {
      <div class="sidebar-content">
        <a (click)="scrollTo(item.url)" class="sidebar-text sidebar-item">
          {{ item.label | translate }}
        </a>

        @if (item.subItems?.length) {
        <ul class="submenu">
          @for (sub of item.subItems; track sub) {
          <li class="nav-subitem d-flex align-items-center">
            <div class="sidebar-sub-line"></div>
            <a (click)="scrollTo(sub.url)" class="sidebar-subtext">
              {{ sub.label | translate }}
            </a>
          </li>
          }
        </ul>
        }
      </div>
      }
    </li>
    }
  </ul>
</div>

<!-- methods toggle theme && language -->
<div
  class="form-check form-switch d-flex flex-row justify-content-end align-items-center gap-2 pt-2 pe-4 navbar"
>
  <a
    (click)="toggleLanguage()"
    class="btn d-flex align-items-center gap-2"
    aria-label="Toggle dark mode"
  >
    {{ isEnglish ? '🇬🇧' : '🇪🇸' }}
  </a>
  <a
    (click)="toggleTheme()"
    class="btn d-flex align-items-center gap-2"
    aria-label="Toggle dark mode"
  >
    {{ isDark ? '🌙' : '🌞' }}
  </a>
</div>
