.notion-sidebar {
  position: fixed;
  z-index: 1000;
  background-color: #f8f9fa;
  color: #121212;
  margin-top: 10rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;

  width: 35px;
  transition: width 0.3s ease-in-out;
  overflow-x: hidden;

  &:hover {
    width: 220px; // opcional: sidebar más ancho
  }

  .nav-item {
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .sidebar-line {
      width: 4px;
      height: 24px;
      background-color: #888;
      margin: 0 12px;
      border-radius: 2px;
      transition: all 0.2s ease-in-out;

      &.expanded {
        background-color: #00aaff;
        width: 8px;
      }
    }

    .sidebar-text {
      white-space: nowrap;
      margin-left: 4px;
      transition: opacity 0.2s;
    }
  }
}

.navbar {
  position: fixed;
  z-index: 1000;
  right: 0;
  background-color: #00000000;
}

a {
  text-decoration: none;
  color: inherit;
}

.sidebar-text:hover {
  opacity: 0.4;
  
}

// light mode
[data-bs-theme="light"] {
  .notion-sidebar {
    background-color: #c2cbd4;
    color: #121212;
  }
}

// dark mode

[data-bs-theme="dark"] {
  .notion-sidebar {
    background-color: #121212;
    color: #f8f9fa;
  }
}
