/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

// span fonts styles
.experience {
  font-size: 0.875rem; /* Tamaño pequeño */
  font-weight: 400; /* Normal */
  color: #6c757d; /* Color secundario de Bootstrap */
  font-family: inherit;
}

.sidebar-item {
  font-size: 0.875rem; /* Tamaño pequeño */
  font-weight: 400; /* Normal */
  color: #6c757d; /* Color secundario de Bootstrap */
  font-family: inherit;
}

// light mode
[data-bs-theme="light"] {
  body {
    background-color: #f8f9fa;
    color: #121212;
  }

  .badge-text-personality {
    background-color: aliceblue;
    color: #121212;
  }

  .list-personality {
    color: black;
  }
}

// dark mode

[data-bs-theme="dark"] {
  body {
    background-color: #121212;
    color: #f8f9fa;
  }

  .notion-sidebar {
    background-color: #1e1e1e !important;
    color: #f8f9fa !important;
  }

  .card-info {
    background-color: #2c2c2c;
    color: #f8f9fa;
  }

  .card-project {
    background-color: #2c2c2c;
    color: #f8f9fa;
  }

  .card-project-header {
    background-color: #2c2c2c;
    color: #f8f9fa;
  }

  .card-project-body {
    background-color: #2c2c2c;
    color: #f8f9fa;
  }

  .card-email {
    background-color: #2c2c2c;
    color: #f8f9fa;
  }

  .badge-text-personality {
    background-color: #2c2c2c;
    color: #f8f9fa;
  }

  .list-personality {
    color: #f8f9fa;
  }
}
