/* You can add global styles to this file, and also import other style files */

// light mode
[data-bs-theme="light"] {
  body {
    background-color: #f8f9fa;
    color: #121212;
  }
}

// dark mode

[data-bs-theme="dark"] {
  body {
    background-color: #121212;
    color: #f8f9fa;
  }

  .notion-sidebar {
    background-color: #1e1e1e !important;
    color: #f8f9fa !important;
  }

  .card-info {
    background-color: #2c2c2c;
    color: #f8f9fa;
  }

  .card-project {
    background-color: #2c2c2c;
    color: #f8f9fa;
  }

  .card-project-header {
    background-color: #2c2c2c;
    color: #f8f9fa;
  }

  .card-project-body {
    background-color: #2c2c2c;
    color: #f8f9fa;
  }

  .card-email {
    background-color: #2c2c2c;
    color: #f8f9fa;
  }
}
